<style>
    .footer-bottom{
        /* padding-right: 150px; */
        display: inline-block;
        width: 800px;
        height: 60px;
        margin-left: -20px;
        margin-bottom: -15px;
    }
    .footer-top{
        margin-left: -20px;
        width: 1020px;
    }
</style>
<%= image_tag image_url('footertop.png'), width: "100%" ,class: "footer-top"%>
<span>
<%= image_tag image_url('footerbottom.png'), class: "footer-bottom" %>
</span>