<style>
    .footer-bottom{
        /* padding-right: 150px; */
        display: inline-block;
        width: 13%;
        margin-left: 160px;
    }
    table {
    width: 100%;
    /* border: 1px solid white; */
    }
    th{
        text-align: left;
        background-color: #AEAAAA;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    td{
        vertical-align: text-top;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container{
        margin-left: 40px;
    }
    .blue-text{
        color: #2C5075;
    }
    .bold-text{
        font-weight: bold;
    }
    .experience{
        margin-left: 85px;
    }
    .as-part{
        margin-left: 23px;
    }
    div.alwaysbreak { page-break-before: always; }
    .project-name{
    
    }
    .headline{
        z-index: 3;
        position: absolute;
        top: 97px;
        right: 134px;
    }
</style>
<html>
  <head>
    <script>
      function number_pages() {
        //document.getElementsByClassName("abc")[0].innerHTML += " hahaha";
        var x=document.location.search.substring(1).split('&');
        if (x.toString().search("page=1") == 0){
            document.getElementsByClassName("first_page")[0].style.display = 'none';
            //document.getElementsByClassName("first_page")[0].setAttribute('style', 'top: 150px !important');
        }
        else{
            document.getElementsByClassName("first-page")[0].style.marginTop = '50px';
        }
      }
    </script>
  </head>
  <body class="body-cls" onload="number_pages()">


<%= image_tag image_url('logo.png'), class: "footer-bottom" %>
<br>
<br>
<br>
<br>
<!--
<table cellspacing="0" cellpadding="0" class="headline first_page" style="width: 1192px;">
    <tr>
        <th style="width: 212px;">Project Name / Client</th>
        <th style="width: 182px;">Project Location</th>
        <th style="width: 410px;">Summary Description</th>
        <th style="width: 143px;">Project Value</th>
        <th style="width: 133px;">Contract</th>
        <th style="width: 78px;">Year</th>
    <tr>
</table>
-->
<div class="container">
<table cellspacing="0" cellpadding="0" class="headline first_page" style="width: 83.8%;">
    <tr>
        <th style="width: 217px;">Project Name / Client</th>
        <th style="width: 184px;">Project Location</th>
        <th style="width: 420px;">Summary Description</th>
        <th style="width: 146px;">Project Value</th>
        <th style="width: ;">Contract</th>
        <th style="width: ;">Year</th>
    <tr>
</table>
</div>
</body>
</html>